.slide {
	background-color: var(--main-color);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}

.tk-section.hero .container.breadcrumbs {
	display: block;
	position: absolute;
	top: 0;
	left: calc(2 * var(--padding));
	right: calc(2 * var(--padding));
	bottom: 0;
	padding-top: inherit;
	padding-bottom: inherit;

	.wrapper {
		position: relative;
		height: 100%;
	}

	.progress-ring {
		position: absolute;
		top:0;
		right: 0;
		//filter: drop-shadow(0 0 5px black);

		.ring {
			stroke: var(--text-light);
			opacity: 0.85;
			transform: rotate(-90deg);
			transform-origin: 50% 50%;
		}
	}

	.description {
		font-size: 0.8rem;
		font-weight: 300;
	}

	.breadcrumb {
		display: block;
		position: absolute;
		bottom: -35px;
		left: 0;
		opacity: 0;
		transition: opacity 750ms ease-in-out;

		a {
			padding: calc(0.75 * var(--padding));
			opacity: 0.8;
			background-color: rgba(var(--background-accent-triplet), 0.9);
			border-radius: calc(0.15 * var(--padding));
			transition: opacity 50ms ease-in-out;

			&:hover {
				text-decoration: underline;
				--text-hover: var(--heading-color);
				opacity: 1;
			}
		}

		&.shown {
			opacity: 1;
			z-index: 1;
		}
	}
}

.tk-section .tk-slider.homepage {
	background-color: var(--header-accent);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;

	.slide {
		position: absolute;
		opacity: 0;
		transition: opacity 750ms ease-in-out;
		z-index: -3;

		&.shown {
			opacity: 1;
			z-index: -2;

			&::after {
				z-index: -1;
			}
		}

		&::after {
			content: " ";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(120, 120, 120, 0.35);
			z-index: -2;
		}
	}
}

.tk-section.post.document .container.slider {
	padding: 0;
	max-width: 100%;
}

.tk-section.post.document.slider {
	padding: 0;
	margin-bottom: -4rem;
}

.tk-section.post.document.slider.thumbnail {
	height: 300px;

	.container.slider.thumbnail {
		height: 100%;
		background-size: cover;
		background-position-x: center;
		background-position-y: bottom;
		background-color: #2b2f2f;
	}
}

.tk-slider.product {
	height: 500px;

	.slide {
		background-color: #2b2f2f;
		overflow: hidden;

		img {
			height: 100%;
			width: auto;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	.flickity-page-dots {
		bottom: 10px;
		mix-blend-mode: difference;

		.dot {
			width: 12px;
			height: 12px;
			opacity: 1;
			background: transparent;
			border: 2px solid white;

			&.is-selected {
				background: white;
			}
		}
	}

	&.flickity-enabled.is-fullscreen {
		z-index: 20;
		padding-bottom: 0;

		.slide {
			height: 100%;
			background-color: rgba(40, 40, 40, 0.5);

			img {
				height: 90%;
				top: 5%;
				bottom: 5%;
			}
		}

		.flickity-page-dots {
			bottom: 10px;
			.dot {
				background: transparent;

				&.is-selected {
					background: white;
				}
			}	
		}
	}
}
