.tk-slider {
	background-color: var(--header-accent);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -2;
	}

.slide {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}