.tk-section .tk-slider.homepage {
	background-color: var(--header-accent);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -2;

	.slide {
		background-color: var(--main-color);
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		background-position-y: center;
		opacity: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		transition: opacity 1500ms ease-in-out;
		z-index: -2;

		&.shown {
			opacity: 1;
		}

		&::after {
			content: " ";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 17, 45, 0.08);
			z-index: -1;
		}
	}
}
