.tk-section .tk-slider.homepage {
	background-color: var(--header-accent);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -2;

	.slide {
		position: absolute;
		opacity: 0;
		transition: opacity 1500ms ease-in-out;
		z-index: -2;

		&.shown {
			opacity: 1;
		}

		&:first-child {
			opacity: 1;
		}

		&::after {
			content: " ";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(52, 60, 33, 0.3);
			z-index: -1;
		}
	}
}

.tk-slider.product {
	height: 600px;
	.slide img {
		height: 100%;
		width: auto;
	}
	.slide {
		background-color: darkslategrey;
	}
}

.slide {
	background-color: var(--main-color);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}